@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $body-color;
  margin: 0;
  padding: 0;
}
