@import "../../colors";

.modal-container{
background-color: rgba(0,0,0,0.6);
margin: 0;
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;


  
    &-tasks{
width:50%;
  height:auto;
  background-color: $body-color;
  display: flex;
  flex-direction: column;
  
  border-radius: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16), 0 15px 20px rgba(0, 0, 0, 0.23);

         @media only screen and (max-width:1200px) {
   width: 70%;
   
  }
         @media only screen and (max-width:900px) {
   width: 90%;
   
  }
      
    }
}