@import "../../colors";

.copyright {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.copyright p {
  text-align: center;
}

.copyright span {
  color: $light-purple;
  font-weight: bold;
  text-transform: uppercase;
}
